{% extends 'base/main.html' %} {% load static %} {% block content %}

<main>
  <section id="form-container">
    <img id="logo" src="{% static 'images/chat-icon.png' %}" />
    <div>
      <h1>Welcome to V-Chat</h1>
      <p>Your solution to a group video chat</p>
    </div>
    <form id="form">
      <div class="form-field">
        <input type="submit" value="Join Stream" />
      </div>
    </form>
  </section>

  <script type="text/javascript">
    let form = document.getElementById("form");

    let handleSubmit = async (e) => {
      e.preventDefault();
      window.open("/room", "_self"); <!--"_self makes sure that the tab is not changed when we are redirected to rooms page "-->
    };

    form.addEventListener("submit", handleSubmit);
  </script>
</main>
{% endblock content%}
